@import url('https://fonts.googleapis.com/css2?family=Dosis&family=REM:wght@500&display=swap');

* {
  font-family: 'REM', sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #e6e6e6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F5F6;
  padding: 10px 60px;
}

.logo {
  margin-top: 8px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.nav-links.left, .nav-links.right {
  padding: 0px;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(111, 111, 111);
  transition: 0.3s;
  font-size: 20px;
}

.nav-links li a.active {
  color: rgb(34, 34, 34);
}

.nav-links li a:hover {
  color: #FE4E30;
}

.contact-link {
  padding: 13px;
  background-color: #393E46;
  border-radius: 10px;
  color: white !important;
}

.contact-link:hover {
  background-color: #FE4E30;
}

/* Portofolio */
.portofolio {
  background-color: white;
  max-width: 1400px;
  margin: 30px auto;
  padding: 40px 60px;
  border-radius: 10px;
  display: flex;
  gap: 100px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.portofolio .left {
  flex: 70%;
  line-height: 25px;
}

.portofolio .right {
  flex: 30%;
  margin-top: 10px;
  text-align: center;
  width: 300px;
  display: flex;
  justify-content: end;
}

.portofolio .right .identity {
  width: 450px;
}

.portofolio .right .identity img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Contact */
.contact {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.input-container {
  margin-bottom: 20px;
}

.input-container .label {
  margin-bottom: 8px;
  font-size: 18px;
  display: block;
}

.input-container .input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
}

.input-container .input:focus {
  outline: none;
  border-color: #3498db;
}

.submit-button {
  background-color: #FE4E30;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
}

.submit-button:hover {
  background-color: #ba2b11;
}

/* Responsive */
@media (max-width: 768px) {
  .portofolio {
    flex-direction: column;
    gap: 30px;
  }

  .portofolio .right {
    margin: 0 auto;
  }

  .navbar {
    padding: 10px 30px;
  }

  .portofolio .left {
    order: 2;
  }

  .portofolio .right {
    order: 1;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }

  .nav-links.right, .nav-links.left {
    width: 100%;
  }

  .portofolio .right .identity img {
    width: 80%;
  }
}