@import url('https://fonts.googleapis.com/css2?family=Dosis&family=REM:wght@400&display=swap');

* {
  font-family: 'REM', sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #e6e6e6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F5F6;
  padding: 10px 60px;
}

.logo {
  margin-top: 8px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.nav-links.left, .nav-links.right {
  padding: 0px;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(111, 111, 111);
  transition: 0.3s;
  font-size: 20px;
}

.nav-links li a.active {
  color: rgb(34, 34, 34);
}

.nav-links li a:hover {
  color: #FE4E30;
}

#barsmenu {
  display: none;
}

.contact-link {
  padding: 13px;
  box-sizing: border-box;
  background-color: #393E46;
  border-radius: 10px;
  color: white !important;
}

.contact-link.active {
  background-color: #FE4E30;
}

.contact-link:hover {
  background-color: #eb300f;
}

.hamburger-nav-container {
  font-size: 23px;
  list-style-type: none;
  display: none;
}

.hamburger-nav-container a {
  text-decoration: none;
  color: #fff;
  background-color: #445069;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-bottom: 5px;
}

.hamburger-nav-container .hamburger-active {
  background-color: orangered;
}

/* Portofolio */
.portofolio {
  background-color: white;
  max-width: 1400px;
  margin: 30px auto;
  padding: 40px 60px;
  border-radius: 10px;
  display: flex;
  gap: 100px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.portofolio .left {
  flex: 70%;
  line-height: 25px;
}

.portofolio .right {
  flex: 30%;
  margin-top: 10px;
  text-align: center;
  max-width: 450px;
  display: flex;
  justify-content: end;
}

.portofolio .right .identity img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Contact */
.contact, .project-form {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.input-container {
  margin-bottom: 20px;
}

.input-container .label {
  margin-bottom: 8px;
  font-size: 18px;
  display: block;
}

.input-container .input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
}

.input-container .input:focus {
  outline: none;
  border-color: #3498db;
}

.input-container .checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-container-inner {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-container .checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: 0.3s;
}

.submit-button {
  background-color: #FE4E30;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
}

.submit-button:hover {
  background-color: #ba2b11;
}

/* My Project */
.project-list {
  margin: 30px 20px;
  background-color: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  box-sizing: border-box;
  justify-content: center;
}

.project-card {
  flex-basis: calc(25% - 25px);
  padding: 18px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.project-card .project-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project-card .project-title {
  margin-bottom: 4px;
}

.project-card .project-title a {
  text-decoration: none;
  color: black;
}

.project-card .project-duration {
  margin-top: 0;
  color: rgb(132, 132, 132);
}

.project-card .project-technologies i {
  font-size: 30px;
  margin-right: 10px;
}

.project-card .project-time {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: rgb(107, 107, 107);
}

.project-card .project-actions {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.project-card .project-actions button {
  background-color: #FE4E30;
  color: #fff;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
  width: 100%;
  margin-top: 15px;
}

.project-card .project-actions button:hover {
  background-color: #ba2b11;
}

/* Project Detail */
.project-detail {
  margin: 30px auto;
  max-width: 1000px;
  background-color: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project-detail .top {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.project-detail .top .project-image {
  flex-basis: calc(60% - 20px);
}

.project-detail .top .project-attr {
  flex-basis: calc(40% - 20px);
}

.project-detail .top .project-attr .project-technologies {
  display: flex;
  flex-wrap: wrap;
}

.project-detail .top .project-attr .project-technologies div {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.project-detail .top .project-attr .project-technologies div i {
  font-size: 20px;
  padding: 5px;
  flex-basis: 40px;
  text-align: center;
  border: 1px solid gray;
  margin-right: 5px;
}

/* Testimonial */
.testimonial-list {
  margin: 30px 20px;
  background-color: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  box-sizing: border-box;
  justify-content: center;
}

.testimonial-card {
  flex-basis: calc(25% - 25px);
  padding: 18px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.testimonial-card .testimonial-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.testimonial-card .testimonial-message {
  font-style: italic;
  color: rgb(61, 61, 61);
}

.testimonial-card .testimonial-author {
  text-align: end;
  font-weight: bold;
}

/* Responsive */
@media only screen and (max-width: 1200px) {
  .project-card, .testimonial-card {
    flex-basis: calc(33.33% - 25px);
  }
}

@media only screen and (max-width: 992px) {
  .project-card, .testimonial-card {
    flex-basis: calc(50% - 25px);
  }
}

@media only screen and (max-width: 768px) {
  .portofolio {
    flex-direction: column;
    gap: 30px;
  }

  .portofolio .right {
    margin: 0 auto;
  }

  .navbar {
    padding: 10px 30px;
  }

  .portofolio .left {
    order: 2;
  }

  .portofolio .right {
    order: 1;
  }

  .project-detail .top .project-image {
    flex-basis: 100%;
  }

  .project-detail .top .project-attr {
    flex-basis: 100%;
  }

  .project-detail .top .project-attr .project-technologies div {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .item-collapse {
    display: none;
  }

  #barsmenu {
    display: block;
  }
}

@media only screen and (max-width: 576px) {
  .project-card, .testimonial-card {
    flex-basis: calc(100% - 25px);
  }
}

@media only screen and (max-width: 480px) {
  .portofolio .right {
    max-width: 200px;
    justify-content: center;
  }

  .input-container .checkbox-container {
    display: block;
  }

  .input-container .checkbox-container-inner {
    margin-bottom: 5px;
  }
}